@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&family=Meddon&display=swap');

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #121212;
    z-index: 0;
}

.container {
    display: block;
    width: 30vw;
    padding: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 130%;
    left: 50%; 
    perspective: 800px;
    user-select: none;
}

.image {
    background-image: 
    url("https://github.com/ClemenceTafforeau/targaryen-toggle/blob/main/daenerys-great-3.png?raw=true");
    width: 800px;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    transition: background-image 0.75s ease-in-out;
    z-index: 2;
    position: absolute;
    top: 15%;
}

.image[aria-pressed="true"] {
    background-image: 
    url("https://github.com/ClemenceTafforeau/targaryen-toggle/blob/main/Daenerys-mad-queen-2.png?raw=true");
    width: 800px;
    height: 500px;
    background-size: contain;
    z-index: 2;
    position: absolute;
    top: 15%;
}

.sigil {
    background-image: url("https://github.com/ClemenceTafforeau/targaryen-toggle/blob/main/308-3087018_free-house-targaryen-sigil-png-game-of-thrones.png?raw=true");
    background-size: contain;
    width: 600px;
    height: 600px;
    z-index: 1;
    position: absolute;
    top: 10%;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 150px;
  width: 100%;
  border-radius: 100px;
  background-color: hsla(0, 0%, 21%, 0.1);
  cursor: pointer;
  border: thick double #ad9f6f;
}

.container input:checked ~ .checkmark {
  background-color: hsla(0, 0%, 21%, 0.1);
}

.container input:checked ~ .checkmark > .coin {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    transform-origin: center;
    animation: 
        move 0.75s forwards,
        spin 0.75s forwards;
    backface-visibility: hidden;
}

.container input:not(:checked) ~ .checkmark > .coin {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    transform-origin: center;
    animation: 
        move-backwards 0.75s forwards,
        spin-backwards 0.75s forwards;
    backface-visibility: hidden;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
}

.coin:before {
    border: 1px solid black;
    height: 150px;
    width: 150px;
    position: relative;
    margin: 50px auto;
    transition: .4s ease;
}

.coin img {
    width: 145px;
}

.front,.back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.front {
    background-image: url("https://github.com/ClemenceTafforeau/targaryen-toggle/blob/main/coin-front.png?raw=true");
    width: 150px;
    height: 150px;
    background-size: cover;
}

.back {
    background-image: url("https://github.com/ClemenceTafforeau/targaryen-toggle/blob/main/coin-back.png?raw=true");
    width: 150px;
    height: 150px;
    background-size: cover;
    transform: rotateY(180deg);
}

@keyframes spin {
    0% {
        transform: rotateY(0)
    }
    100% {
        transform: rotateY(180deg)
    }
}

@keyframes move {
    0% { transform: translate(0)}
    100% { transform: translate(350px)}
}

@keyframes spin-backwards {
    from {
        transform: rotateY(180deg)
    }
    to {
        transform: rotateY(0deg)
    }
}

@keyframes move-backwards {
    0% { transform: translate(350px)}
    100% { transform: translate(0)}
}

.text-1, .text-2 {
    width: 350px;
    padding-block: 20px;
    text-align: justify;
    color: #ad9f6f;
    font-family: Meddon, cursive;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5rem;
    border-top: thick double #ad9f6f;
    border-bottom: thick double #ad9f6f;
}

.text-1 {
    margin-right: 500px;
}

.quotemarks {
    font-family: Fondamento, cursive;
    font-size: 3.5rem;
}

.uppercase {
    font-family: Fondamento, cursive;
    font-size: 3rem;
    line-height: 2.2rem;
}
